@model BusinessObjects.TestimonialModel
@using System.Security.Claims;

@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.Role);
}

@{
    ViewBag.Title = "Add Testimonial";
}
<link href="~/Content/dropzone.css" rel="stylesheet" />
<script src="~/Scripts/dropzone.js"></script>
<style>
    .has-error .help-block {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 14px;
        line-height: 1.3;
        color: red;
    }

    .help-block {
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 14px;
        line-height: 1.3;
        color: red;
    }

    .has-error .control-label {
        color: black;
    }

    .dz-preview, .dz-file-preview {
        display: none !important;
    }

    .dropzone .dz-message {
        margin: 0 !important;
    }

    .dropzone.dz-started .dz-message {
        display: block !important;
    }
</style>

<div class="signUpBlog">
    <div class="container">
        <h2 class="mb-0 text-left">Admin - Add Testimonial</h2>
    </div>
</div>

@if (HttpContext.Current.User.Identity.IsAuthenticated && claim.Value == Synoptek.Helpers.Constants.UserRoles.Admin)
{
    <div class="container mt-5 mb-5">
        @using (Html.BeginForm("SaveTestimonialDetails", "Testimonial", FormMethod.Post, new { @id = "frmTestimonial" }))
        {
            @Html.HiddenFor(model => model.ID)

            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()


            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="name">Author</label>
                        @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Author)
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control editorHtml" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>

                    <div class="form-group mb-2 mt-5">
                        <label for="url">Image</label>

                        <div id="ImageContainer" class="row mt-2 col-md-6">
                            @if (Model.ImagePath != null)
                            {
                                <div class="col-md-12 col-lg-12">
                                    <div>
                                        <img width=250 height=250 src="@ViewBag.Logo" alt="@Model.ImagePath" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div id="divEditPhoto">
                            <label class="btn-bs-file btn btn-primary">
                                Edit Photo
                                <input type="file" name="Testimonial_uploader" id="Testimonial_uploader" onclick="ValidateTestimonialImage()" style="display:none" />
                            </label>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-md-6" style="margin-left:-12px;">
                            <div class="dropzone fileuploadborder dropzonediv" id="ImageUploadDropzone">
                                <div class="dz-message" data-dz-message><span>Browse for image</span></div>
                                <div class="fallback">
                                    <input name="file" type="file" />

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        @if (Model.ID <= 0)
                        {
                            <input type="submit" value="Save" class="btn btn-primary btn-small" />
                        }
                        else
                        {
                            <input type="submit" value="Update" class="btn btn-primary btn-small" />
                        }

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@Styles.Render("~/bundles/TinyMCECss")
@Scripts.Render("~/bundles/TinyMCEJs")

<script>
    $(document).ready(function () {
        tinymce.init({
            selector: '#Description',
            setup: function (editor) {
                editor.on('keyup', function (e) {
                    console.debug('Editor contents was modified. Contents: ' + editor.getContent({
                        format: 'text'
                    }));
                    $('#frmTestimonial').bootstrapValidator('revalidateField', 'Description');
                });
            }
        });

        $('#frmTestimonial')
        .bootstrapValidator({
            excluded: function (res) {
            },  // [':disabled'],
            fields: {
                Description: {
                    validators: {
                        callback: {
                            message: 'The Description is requied field.',
                            callback: function (value, validator, $field) {
                                var text = tinyMCE.activeEditor.getContent({
                                    format: 'text'
                                });
                                return text.trim().length > 0;
                            }
                        }
                    }
                }
            }
        });
    });

    $('#Testimonial_uploader').on('change', function (e) {
        if (typeof (FileReader) != "undefined") {
            var image_holder = $("#ImageContainer");
            image_holder.empty();

            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image",
                    "height": "200",
                    "width": "200",
                }).appendTo(image_holder);
            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("This browser does not support FileReader.");
        }
        var files = e.target.files;
        if (files.length > 0) {
            try {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    $.ajax({
                        type: "POST",
                        url: '/Testimonial/UploadTestimonialImage',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
            catch (ex) {
                ShowErrorMessage(ex.message);
            }
        }
    });

    var _validTestimonialFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
    function ValidateTestimonialImage(oInput) {
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validTestimonialFileExtensions.length; j++) {
                    var sCurExtension = _validTestimonialFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
                if (!blnValid) {
                    alert("Sorry, these extensions are not valid");
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }
    var TestimonialID = $('#ID').val();
    var image_dropholder = $("#ImageUploadDropzone");
    if (TestimonialID > 0) {
        $('#divEditPhoto').show();
        image_dropholder.hide();
    } else {
        $('#divEditPhoto').hide();
        image_dropholder.show();
    }


    //image upload control
    Dropzone.autoDiscover = false;
    Dropzone.options.ImageUploadDropzone = {
        maxFiles: 1,
        addRemoveLinks: true,
        url: "/Testimonial/UploadTestimonialImage",
        paramName: "file",
        maxFilesize: 2,
        acceptedFiles: ".png, .jpg, .jpeg, .bmp, .gif, .jfif",
        init: function () {
            this.on("complete", function (file) {
                if (!file.type.match('image.*')) {
                    bootbox.alert("Upload Image Only!");
                    return false;
                }
            }),
            this.on("addedfile", function (file) {
            }),
            this.on("success", function (file, response) {
                var result = "<div class='col-md-12 col-lg-12'><div><img width=100% height=250 src=" + response + " id='img_'" + file.name + "  alt='" + file.name + "' /></div> <div class='form-group mt-1'>";
                $("#ImageContainer").append(result);
                var image_holder = $("#ImageUploadDropzone");
                image_holder.hide();
                $('#divEditPhoto').show();
            });
        },
        removedfile: function (file) {
            var name = file.name;
            $.ajax({
                type: 'POST',
                url: 'RemoveTempFile',
                data: "filename=" + name,
                dataType: 'html'
            });
            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
    }
    $('#ImageUploadDropzone').dropzone();

</script>
