@model BusinessObjects.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<div class="signUpBlog">
    <div class="container">
        <h2 class="mb-0 text-left">Forgot Password</h2>
    </div>
</div>
<div class="container mt-5 mb-5">
    @using (Html.BeginForm("ChangePasswordPost", "Login", FormMethod.Post, new { @id = "frmchangepassword" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label>@Model.Email</label>
                    @Html.HiddenFor(model => model.Email, new { @id = "Email" })
                </div>
                <div class="form-group">
                    <label for="Password">New Password</label>
                    @Html.PasswordFor(model => model.Password, new { @maxlength = "20", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @maxlength = "20", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
                <span id="error" style="color: red;"></span>
                <div class="text-center mt-4 mb-5"><button type="button" id="btnchangepassword" class="btn btn-primary font14">Change Password</button></div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    $(document).ready(function () {
        $("#btnchangepassword").on('click', function () {
            try {
                var password = $("#Password").val();
                var confirmpassword = $("#ConfirmPassword").val();
                if ($(".field-validation-error span").attr("generated") == "true") {
                    return false;
                }
                if (password != "" && confirmpassword != "") {
                    var form = $('#frmchangepassword');
                    var token = $('input[name="__RequestVerificationToken"]', form).val();
                    $.ajax({
                        url: '@Url.Action("ChangePasswordPost")',
                        data: { __RequestVerificationToken: token, Email: $("#Email").val(), Password: $("#Password").val() },
                        type: "POST",
                        success: function (result) {
                            if (result) {
                                var user = '@Convert.ToString(Synoptek.SessionController.UserSession.UserId)'
                                if (user != "") {
                                    bootbox.alert("Password has changed succesfully. Please log in using new credentials.", function () {
                                        window.location.href = "/InvestorListings/DashboardPage";
                                    });
                                }
                                else {
                                    bootbox.alert("Password has changed succesfully. Please log in using new credentials.", function () {
                                        window.location.href = "/HomePage/HomePage";
                                    });
                                }
                            }
                            else {
                                bootbox.alert("Something went wrong...");
                            }
                        },
                        error: function (rs) {
                        }
                    });
                }
                else {
                    $("#error").html("Password and Confirm password can not be blank.");
                }
            }
            catch (ex) {
                ShowErrorMessage(ex.message);
            }
        });

        $("#Password").on("blur", function () {
            if ($(this).val() != "")
                $("#error").html("");
        });
        $("#ConfirmPassword").on("blur", function () {
            if ($(this).val() != "")
                $("#error").html("");
        });
    });
</script>
