@model  PagedList.IPagedList<BusinessObjects.BrokerListingsModel>
@using PagedList.Mvc;
@using System.Security.Claims;

@{ 
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.Role);
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    foreach (var item in Model)
    {
        string ListingID = Synoptek.SessionManagement.CipherTool.EncryptString(Convert.ToString(@item.ID), true);
        //string ListingID = item.ID.ToString();

        <div class="row pt-2 BrokerList" id="RowID_@(item.ID)">
            <div class="col-md-4">
                <div class="item mb-2 js_image" data-id="@(item.ID)">
                    <img src="@(item.ImagePath)" class="img-fluid height200" alt="@(item.Name)">
                    @if (item.IsSponsored)
                    {
                        <div class='item-star'><i class='fa fa-star'></i></div>
                    }
                    <div class="item-text">$ @item.AmountRequired <br> @item.Location</div>
                </div>
                @Html.ActionLink("View Details", "GetSingleListingDetails", new { ListingId = ListingID }, new { @class = "btn btn-primary w-100 mb-2 font14" })
            </div>
            <div class="col-md-8">
                <div class="font12"><span class="category mr-2">@item.ListingType.ToUpper()</span> <strong>ID #@item.ID</strong></div>
                <h4>@item.Name</h4>
                <p>@item.Description</p>
            </div>
            <div class="col-md-12">
                <div class="DividerBot"></div>
            </div>
        </div>  
        <div class="clearfix"></div> 
    }
}

<nav aria-label="Page navigation pagination">
    <ul class="pagination justify-content-center" id='Paging'>
        @Html.PagedListPager(Model, page => Url.Action("BrokerDetails", new { Page = page }))
    </ul>
</nav>

<script>
    function ContactBroker(listingID, brokerName) {
        $('#InvestorModal').modal({ backdrop: 'static', keyboard: false })
        $("#deal_title").html("Contact Broker : " + brokerName);
        $("#hdn_ListingId").val(listingID);
    }
</script>
@if (Model.Count <= 0)
{
    <div>
        <h4 class="text-center">No deals found</h4>
    </div>
}

<script>
    $(document).ready(function () {
        $(".pagination").find("li").addClass("page-item");
        $(".pagination").find("li a").addClass("page-link");
        //Pagination event handling ----------------------------
        $('.pagination a').click(function () {
            try {
                var BrokerName = $("#BrokerName").val();
                var BrokerId = $("#BrokerId").val();
                if (this.href != "" && this.href != undefined) {
                    $.ajax({
                        url: this.href,
                        data: { Featured: "0", BrokerId: BrokerId, BrokerName: BrokerName },
                        type: 'GET',
                        cache: false,
                        success: function (result) {
                            $('#brokerListingDiv').html(result);
                        }
                    });
                }
                return false;
            }
            catch (ex) {
                ShowErrorMessage(ex.message);
            }
        });
        //Pagination event handling ----------------------------
    });
</script>
